In [196]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt
import tqdm as tqdm

In [119]:
import datetime
import time
def convert_to_sec(l):
    l = l.split(':')
    t = int(l[2])
    t += int(l[1])*60
    t += int(l[0])*3600
    return t
def get_time_difference(x,y):
    x = x.split(' ')
    y = y.split(' ')
    X = time.mktime(datetime.datetime.strptime(x[0], "%Y-%m-%d").timetuple())
    Y = time.mktime(datetime.datetime.strptime(y[0], "%Y-%m-%d").timetuple())
    a = (convert_to_sec(x[1]) - convert_to_sec(y[1]))
    return (X-Y + a)

In [118]:
print(get_time_difference(impression_info['impression_time'][387],impression_info['impression_time'][5]))

29640.0

In [142]:
impression_info = pd.read_csv('train.csv')
user_info = pd.read_csv('view_log.csv')
item_info = pd.read_csv('item_data.csv')

In [143]:
impression_info.sort_values("user_id",axis=0,ascending=True,inplace=True)
impression_info.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
104312,5f98c2c31a8006e510448c02ec74d50f,2018-11-26 23:30:00,0,207,old,0,0
24562,010ed37e44e2fdc175b4c5c6c930805a,2018-11-20 20:53:00,2,190,intermediate,0,0
78666,577c63f9937fa0e8d4650ddf1510a03f,2018-11-21 21:47:00,2,190,intermediate,0,0
49515,2b12c0d47f5821a5adb3bfd973d0f708,2018-11-19 20:49:00,2,190,intermediate,0,0
54202,f85e4bf0e34f3ee66add56229845e4db,2018-11-20 20:29:00,2,190,intermediate,0,0

In [144]:
user_info.sort_values("user_id",axis=0,ascending=True,inplace=True)
user_info.head()

                 server_time device_type  session_id  user_id  item_id
1355945  2018-11-11 10:23:00     android      143955        0   120442
164774   2018-10-18 14:47:00     android      268465        0    44459
2761690  2018-12-06 06:33:00     android      144465        0   126865
164729   2018-10-18 14:46:00     android      268465        0    44459
164700   2018-10-18 14:46:00     android      268465        0    44459

In [170]:
user_info['device_type'].nunique()

3

In [145]:
item_info.head()

   item_id  item_price  category_1  category_2  category_3  product_type
0    26880        4602          11          35          20          3040
1    54939        3513          12          57          85          6822
2    40383         825          17           8         279          1619
3     8777        2355          13          58         189          5264
4   113705        1267          17          39         151         10239

(132761,)

In [146]:
print(impression_info.shape,user_info.shape,item_info.shape)

(237609, 7) (3118622, 5) (132761, 6)

In [147]:
impression_info.sort_values(by =['user_id','impression_time'],inplace=True)

In [148]:
user_info.sort_values(by =['user_id','server_time'],inplace=True)

In [151]:
cnt = 0
for user in impression_info['user_id']:
    if(user not in user_info['user_id']):
        cnt+=1
print(cnt)

0

In [160]:
user_info['user_id'].values[24]

0

In [161]:
ind1 = 0
log_time = []
is_new = []
curr_item = []
s = "-1"
prev_user = -1
prev_item = -1
for ind in range(0,impression_info.shape[0]):
    if(ind1==user_info.shape[0]):
        break
    if(prev_user!=impression_info['user_id'].values[ind]):
        s="-1"
        prev_user = -1
        prev_item=  -1
    while(impression_info['user_id'].values[ind]>user_info['user_id'].values[ind1]):
        ind1+=1
    while(get_time_difference(impression_info['impression_time'].values[ind],user_info['server_time'].values[ind1])>=0
         and impression_info['user_id'].values[ind]==user_info['user_id'].values[ind1]):
        s = user_info['server_time'].values[ind1]
        prev_user = user_info['user_id'].values[ind1]
        prev_item = user_info['item_id'].values[ind1]
        ind1+=1
    if(s=="-1"):
        log_time.append(-1)
        is_new.append(1)
        curr_item.append(prev_item)
    else:
        is_new.append(0)
        log_time.append(get_time_difference(impression_info['impression_time'].values[ind],s))
        curr_item.append(prev_item)
        ind1-=1

In [162]:
cnt=0
for i in log_time:
    if(i==-1):
        cnt+=1
print(cnt)
print(impression_info.shape)

1587
(237609, 7)

In [166]:
labels = []
for ind in range(0,len(log_time)):
    if(log_time[ind]==-1):
        labels.append(impression_info['is_click'].values[ind])
cnt=0
for i in labels:
    if(i==0):
        cnt+=1
print(cnt)

1530

In [173]:
data = impression_info
data['log_time'] = log_time
data['item_id'] = curr_item

In [182]:
data = pd.merge(data,item_info,on='item_id')

In [205]:
data1.to_csv('Further_Prepreocessed_data.csv')

In [191]:
data1 = data.drop(columns = ['impression_id','impression_time'])

In [192]:
data1.head()

,user_id,app_code,os_version,is_4G,is_click,log_time,item_id,item_price,category_1,category_2,category_3,product_type
0,0,207,old,0,0,28560.0,12439,19840,1,7,300,9015
1,1168,207,latest,0,0,133380.0,12439,19840,1,7,300,9015
2,8114,385,latest,0,0,8160.0,12439,19840,1,7,300,9015
3,8114,385,latest,0,0,8520.0,12439,19840,1,7,300,9015
4,8114,385,latest,0,0,50640.0,12439,19840,1,7,300,9015

In [199]:
data1['os_version'] = pd.Categorical(data1['os_version'])

In [202]:
data1['os_version']

0            old
1         latest
2         latest
3         latest
4         latest
           ...
235880       old
235881    latest
235882    latest
235883    latest
235884    latest
Name: os_version, Length: 235885, dtype: category
Categories (3, object): [intermediate, latest, old]

In [204]:
data1['is_click'].value_counts().to_dict()

{0: 225085, 1: 10800}